@import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap");

html {
  background-color: #1f2b3b !important;
  color: #fff !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #1f2b3b !important;
  color: #fff !important;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #fff;
}

.icon:hover {
  transform: scale(1.5);
  color: #ff8a00;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in;
  background-color: #324359 !important;
}

.card p {
  font-size: 0.7em;
  color: #ccc !important;
}

.card a {
  font-size: 0.7em;
}

.card:hover {
  transform: scale(1.09);
}
#sub-title {
  width: 100%;
  height: 100%;
  text-align: center;
}
.logo {
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  font-size: 1.5em;
}
.colon {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftpush {
  padding-left: 2em;
}
@media (max-width: 575.98px) {
  .leftpush {
    padding-left: 0em;
  }
  .col {
    padding: 0;
  }
  h1 {
    font-size: 1.75rem;
  }
  .t {
    font-size: 1rem;
  }
}

.t {
  font-family: "Source Code Pro", monospace;
}
.comma {
  font-size: 3vw;
  display: flex;
  margin-top: auto;
}
.desc_object {
  font-size: 1.5vw;
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub-left {
  float: left;
  font-size: 2.5em;
  padding-left: 1em;
  width: 20%;
}
#sub-right {
  float: left;
  font-size: 0.55em;
  width: 64%;
  height: 100%;
  padding-top: 25px;
  font-family: "Source Code Pro", monospace;
}
#comma {
  float: left;
  width: 10%;
  font-size: 2em;
  padding-top: 25px;
  padding-right: 50px;
}
.clear-both {
  clear: both;
}

.iconinobject {
  font-size: 2.5em;
  padding-left: 1em;
  background-color: white;
  width: 50%;
}

.txtinobject {
  font-size: 0.5em;
  background-color: yellow;
  width: 50%;
}

.sub-title {
  overflow: hidden;
  width: 500px;
}

.pdf {
  font-size: 1.5em;
  width: 100%;
}

.sf {
  height: 4em;
  width: 8em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 10 1 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 50 1 auto;
  align-self: auto;
}

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
